<ion-header>
  <app-main-header [nombre]="'Yamid Sanabria'" [avatar]="'assets/img/foto.png'" (logout)="logout()"></app-main-header>
</ion-header>

<ion-content class="dash" [scrollY]="true" fullscreen>


  <!-- 🗺️ MAPA -->
  <div id="map-wrapper">
    <div id="map"></div>

    <!-- Overlay clickeable para abrir mapa detallado -->
    <div class="map-overlay" (click)="openDetailedMap()">
      <div class="map-expand-hint">
      </div>
    </div>

    <div class="leyenda">
      <div class="leyenda-title">Votantes por Municipio</div>
      <div><span class="color rojo"></span> Alta densidad (70%+)</div>
      <div><span class="color amarillo"></span> Media densidad (40-70%)</div>
      <div><span class="color verde"></span> Baja densidad (&lt;40%)</div>
    </div>
  </div>

  <!-- 🔢 TARJETAS SUPERIORES -->
  <div class="dashboard-grid">
    <div class="card alert">
      <ion-icon name="warning-outline"></ion-icon>
      <p>Incidencias</p>
      <h2>TO DO</h2>
    </div>
    <div class="card group">
      <ion-icon name="people-outline"></ion-icon>
      <p>Votantes</p>
      <h2>{{ userCount }}</h2>
    </div>
    <div class="card total-lideres">
      <ion-icon name="person-add-outline"></ion-icon>
      <p>Total Líderes</p>
      <h2>TO DO</h2>
    </div>
  </div>

  <!-- 🔽 TARJETAS INFERIORES -->
  <!-- <div class="dashboard-subgrid">
    <div class="card-info lider-card">
      <h3>Líderes</h3>
      <canvas id="liderChart" width="100" height="40"></canvas>
      <p>14 registrados esta semana (vs 8 semana pasada)</p>
      <ion-button size="small" expand="block" class="boton-neutro">Registrar líder</ion-button>
    </div>




    <div class="card-info blog-card">
      <h3>Blog</h3>
      <canvas id="blogChart" width="100" height="40"></canvas>
      <p>7 artículos esta semana (vs 5 semana pasada)</p>
      <ion-button size="small" expand="block" class="boton-neutro">Ver más</ion-button>
    </div>


  </div> -->

  <ion-item button lines="none" class="casta-item">
    <ion-label>Casta</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-content>
